{block title}Homepage{/block}

{block content}

	<h1 class="uk-text-center">Oxy - testovací úloha</h1>
  <h2 class="uk-text-center uk-margin-large">Webová služba pro registraci uživatelů</h2>

{/block}