{block content}
<?xml version="1.0" encoding="utf-8"?>
  <USERS>
  {foreach $registeredUsersList as $registredUser}
    <USER>
      <NAME>{$registredUser->data()->name}</NAME>
      <EMAIL>{$registredUser->data()->email}</EMAIL>
      <ROLE>{$registredUser->data()->role}</ROLE>
    </USER>
  {/foreach}
  </USERS>

{/block}